@use './index' as *;

.blog-detail{
    display: grid;
    place-items: center;
    &__img-container{
        width: 88%;
        height: 100%;
        max-height: 80vh;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__content{
        margin: 20px 0 32px;
        width: 80%;
        &__news {
            border-bottom: 1px solid $color-casi-claro;
            padding-bottom: 20px;
        }
        &__title {
            font-size: 36px;
        }
        &__text {
            text-align: start;
        }
    }
    &__contact {
        width: 100%;
        height: 100%;
        padding: 28px 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 150px;
        gap: 32px;
        place-items: center;
        background-color: $color-casi-claro;
        &__card{
            width: 88%;
            height: 88%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            &__img-container{
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &__content{
                &__title{
                    border-bottom: 1px solid #a7a7a7;
                }
                &__text{
                    margin-top: 12px;
                }
            }
        }
    }
}
