@use './index' as *;
.contact {
    width: 100%;
    height: 100%;
    padding: 28px 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 150px;
    gap: 32px;
    place-items: center;
    background-color: $color-casi-claro;
    &__card{
        width: 88%;
        height: 88%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        &__img-container{
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__content{
            &__title{
                border-bottom: 1px solid #a7a7a7;
            }
            &__text{
                margin-top: 12px;
            }
        }
    }
}

@media (max-width:768px) {
    .contact{
        gap: 64px;
        padding: 5% 10%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        &__card{
            width: auto;
            height: auto;
            flex-direction: column;
            &__img-container{
                max-width: 100px;
            }
        }
    }
}