@use './index' as *;

footer {
    display: grid;
    place-content: center;
    place-items: center;
    border-top: 35px solid $color-primario;
    background-color: $color-oscuro;
    width: 100%;
    p{
        width: 90%;
        padding: 20px 0;
        text-align: center;
        min-height: 72px;
        color: $color-claro;
    }
}