@use './index' as *;

.header {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    &__media {
        display: grid;
        width: 100%;
        height: 50px;
        background-color: $color-primario;
        &__container{
            height: 100%;
            display: flex;
            justify-self: end;
            justify-items: center;
            align-items: center;
            margin-right: 28px;
            &__item {
                span {
                    color: $color-claro;
                }
            }
        }
    }
    &__nav{
        height: 90px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 64px;
        &__logo{
            height: 100%;
            max-height: 90px;
            justify-self: start;
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            
        }
        &__about{
            justify-self: end;
            align-self: center;
            a {
                color: $color-oscuro;
                border-bottom: 1px solid $color-oscuro;
                font-family: fuentes(2);
            }
        }
    }
}