@use './index' as *;

body {
    display: grid;
}

main {
    height: 100%;
}

.hero {
    display: grid;
    height: 100%;
    min-height: 80vh;
    place-items: center;
    background-image: url("https://bnz07pap001files.storage.live.com/y4moDveJIltI5OM8MjCMgfdBXai_qUKOlNacjFXQyEC55pqx7aDSj7wOmEI-pUv0k6STkFYnE52xpw85VC8CjakOdzOr8QP35yatFaJcXnzOLZiQs-6ap43RBkJk0fNWSzrm9r8WhjopNhaSNQO-zLun-ReDr5IBYUGwsM_K5EtCKZtJl3PEL0jlRiLwkezidQs?width=1920&height=1080&cropmode=none");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__title{
        margin: 0;
        max-width: 640px;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 10px;
        text-align: center;
        font-family: fuentes(2);
        color: $color-claro;
    }
    &__ca{
        font-size: 24px;
        font-weight: 700;
        padding: 16px;
        font-family: fuentes(1);
        background-color: $color-primario;
        color: $color-oscuro;
    }
}