$color-primario:#47cfac;
$color-claro: white;
$color-casi-claro: #e6e9ed;
$color-oscuro: black;
$Fuente1: "Roboto", sans-serif;
$Fuente2: "Roboto Mono", monospace;
$Fuente3: "Roboto Slab", sans-serif;

@mixin read-more-buttons{
	border: 2px solid $color-primario;
	color: $color-oscuro;
    padding: 12px 16px;
    font-size: 12px;
	max-width: 100px;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    max-height: 50px;
	transition-duration: 0.15s;
}

@mixin read-more-buttons-hover {
	background-color: $color-primario;
	color: $color-claro;
}

@function fuentes($number) {
	@if $number == 1 {@return $Fuente1;} /*Roboto*/
	@else if $number == 2 {@return $Fuente2;} /*Roboto mono*/
	@else if $number == 3 {@return $Fuente3;} /* Roboto slab*/
	@else {@return helvetica;}
  }

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: fuentes(2);
}

a {
    text-decoration: none;
}

p {
	margin: 0;
}
